<!doctype html>
<html ng-app="myApp">
    <head>
        <title>Document</title>
        <link rel="stylesheet" href="src/bootstrap.min.css">
        <style>
			html, body, input, select, textarea
			{
				font-size: 1.05em;
			}
		</style>
        
    </head>
    <body>
       	<header>
       		<nav class="nav navbar-default">
       			<div class="container">
       				<div class="navbar-header">
       					<a class="navbar-brand" href="/">AngularJS</a>
       				</div>
       				<ul class="nav navbar-nav navbar-right">
       					<li>
       						<a href="#"><i class="fa fa-home"></i>Home</a>
       					</li>
       				</ul>
       			</div>
       		</nav>
       	</header>
       	
       	<div class="container" ng-controller="mainController">
       		<div>
       			<div>
       				<label>What is your twitter handle?</label>
       				<input type="text" ng-model="handle"/>
       			</div>
            <div class="alert" ng-class="{'alert-warning': handle.length < handlelength, 'alert-danger': handle.length > handlelength}" ng-if="handle.length !== handlelength">
               <div ng-show="handle.length < handlelength">
                 Handle length is less than {{handlelength}}!
               </div> 

               <div ng-show="handle.length > handlelength">
                 Handle length is grater than {{handlelength}}!
               </div>

            </div>

       			<hr/>
       			<h1>twitter.com/{{ lowercaseHandle()}}</h1>
       		</div>
          <h3>Rules</h3>
          <ul>
            <li ng-repeat="rule in rules">
              {{rule.rulename}}
            </li>
          </ul>  
       	</div>        
        <script src="src/jquery.min.js"></script>
        <script src="src/angular.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>



